* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Open Sans, Arial, SansSerif;
}

a {
    text-decoration: none;
}

/*grid system*/

.container {
    width: 90%;
    margin: 2.5rem auto;
}

.container .cols {
    float: left;
    margin: 0 0 1rem 0;
    padding: 1rem 1rem;
    overflow-wrap: break-word;
}

.container .cols.col-1 { width: 8.33% }

.container .cols.col-2 { width: 16.67% }

.container .cols.col-3 { width: 25% }

.container .cols.col-4 { width: 33.33% }

.container .cols.col-5 { width: 41.67% }

.container .cols.col-6 { width: 50% }

.container .cols.col-7 { width: 58.33% }

.container .cols.col-8 { width: 66.67% }

.container .cols.col-9 { width: 75% }

.container .cols.col-10 { width: 83.33% }

.container .cols.col-11 { width: 91.67% }

.container .cols.col-12 { width: 100% }

.container:before,
.container:after,
.row:before,
.row:after,
.clear:before,
.clear:after {
    content:"";
    display:block;
    clear:both;
}

.container:after,
.row:after,
.clear:after {
    clear: both;
}

.cols img {
    width: 100%;
    height: auto;
}

.header {
    width: 100%;
    height: 4rem;
    padding: 0 5% 0 5%;
    background-color: #444444;
    font-size: 1.5rem;
    display: table;
}

.header-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.header ul {
    list-style: none;
    float: right;
    color: #999999;
}

.header li {
    display: inline;
    margin: 0 0 0 2rem;
    font-size: 1rem;
}

.header a {
    color: #999999;
}

.header-title {
    font-weight: bold;
    color: #fff;
}

.news-item-title {
    margin: 0 0 0.3rem 0;
}
.news-item-title h1 {
    font-size: 1.2rem;
}

.news-item-description {
    margin: 0 0 0.2rem 0;
}

.content-item-author-date {
    font-size: 0.8rem;
    color: #999999;
    margin: 0.3rem 0 0.3rem 0;
}

.content-item-tag-wrapper {
    margin: 0.4rem 0 0.4rem 0;
}

.content-item-tag a {
    margin: 0 0.3rem 0 0;
    padding: 0.05rem 0.2rem 0.05rem 0.2rem;
    background-color: #065B80;
    font-size: 0.8rem;
    color: #fff;
    border-radius: 0.25rem;
}

.content-item-read-btn a {
    color: #065B80;
    font-weight: bold;
    font-size: 0.8rem;
    /*text-decoration: underline;*/
}

.pagination {
    width: 100%;
    margin: 0 10% 0 0;
}

.pagination ul {
    list-style: none;
    color: #999999;
    margin: 0 0 4rem 0;
}

.pagination li {
    display: inline;
    margin: 0 0 0 1.5rem;
    font-size: 1rem;
}

.footer {
    width: 100%;
    height: 4rem;
    background-color: #f1f1f1;
    padding: 0 2.5rem 0 2.5rem;
    box-sizing: border-box;
    display: table;
    color: #999999;
}

.footer-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.footer-wrapper a {
    color: #999999;
}

.footer-item-left {
    margin: 0 0 0 2rem;
}

.footer-item-right {
    float: right;
}